@using Store.Web.Controllers
@model Form

@{
    ViewData["Title"] = "Параметры оплаты";
}

<h1>Параметры оплаты</h1>
<form action="@Url.Action(nameof(OrderController.NextPayment))" method="post">
    <input type="hidden" name="serviceName" value="@Model.ServiceName" />
    <input type="hidden" name="step" value="@Model.Step" />
    @foreach (var parameter in Model.Parameters)
    {
        <input type="hidden" name="values[@parameter.Key]" value="@parameter.Value" />
    }
    @foreach (var field in Model.Fields)
    {
        if (field is SelectionField selectionField)
        {
            <div class="form-group">
                <label for="values[@field.Name]">@field.Label</label>
                <select class="form-control" name="values[@field.Name]">
                @foreach (var item in selectionField.Items)
                {
                    <option value="@item.Key">@item.Value</option>
                }
                </select>
            </div>
        }
    }
    <button type="submit" class="btn btn-success">Далее</button>
</form>
